<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shortest Path Finding{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
              integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
    {% endblock %}
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <img alt=""
             src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Shortest_path_with_direct_weights.svg/250px-Shortest_path_with_direct_weights.svg.png"
             decoding="async" width="250" height="137" class="thumbimage"
             srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Shortest_path_with_direct_weights.svg/375px-Shortest_path_with_direct_weights.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Shortest_path_with_direct_weights.svg/500px-Shortest_path_with_direct_weights.svg.png 2x"
             data-file-width="512" data-file-height="280">
        <h2>Shortest Path Finding</h2>
        <p class="lead">Find the shortest path between 2 locations. Manage your route by a CSV file and run this
            script<br>
            <code>php bin/console route:csv --file="csv/routes.csv"</code>
        </p>
    </div>
    <div class="row">
        {% block body %}
        {% endblock %}
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 Central Tech Group</p>
</footer>
{% block javascripts %}
{% endblock %}
</body>
