{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-12 order-md-1 mb-4">
        <div id="success" class="alert alert-success" role="alert" style="display: none;"></div>
        <div id="error" class="alert alert-danger" role="alert" style="display: none;"></div>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
        <h4 class="mb-3">Route Information</h4>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Distance</th>
                </tr>
                </thead>
                <tbody>
                {% for edge in edges %}
                    <tr>
                        <td>{{ edge.origin.name }}</td>
                        <td>{{ edge.destination.name }}</td>
                        <td>{{ edge.length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8 order-md-2">
        <h4 id="success" class="mb-3">Select your origin and your destination</h4>
        <form class="needs-validation" action="javascript::void(0);">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">From</label>
                    <select class="custom-select d-block w-100" id="from" required>
                        <option value="">Choose...</option>
                        {% for vertex in vertexs %}
                            <option>{{ vertex.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="state">To</label>
                    <select class="custom-select d-block w-100" id="to" required>
                        <option value="">Choose...</option>
                        {% for vertex in vertexs %}
                            <option>{{ vertex.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $("form").submit(function (event) {
            $("#success").hide();
            $("#error").hide();
            $.get("{{ path('get_shortest_path') }}", {from: $("#from").val(), to: $("#to").val()}, function (data) {
                if (data.success == true) {
                    $("#success").html('The shortest path between ' + data.result.from + " and " + data.result.to + " is "
                        + data.result.path + ". The distance is " + data.result.length
                    ).show();
                } else {
                    $("#error").html(data.message).show();
                }
            });
            event.preventDefault();
        });
    </script>
{% endblock %}

